/* Estilos gerais */
.botoes .btn {
  background-color: transparent;
  border: none;
  display: inline-block;
  text-align: left;
}

.botoes .linkedin,
.botoes .curriculo {
  background-color: transparent;
  border: none;
}

/* Estilos dos botões */
.botao {
  background: none; /* Remove qualquer fundo */
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao:hover {
  background: none !important; /* Garante que não apareça fundo */
  box-shadow: none !important;
}

.botao-img {
  transition: transform 0.3s ease;
}

.botao:hover .botao-img {
  transform: scale(1.05);
  box-shadow: none !important; /* Remove qualquer sombra */
}



/* Ajustes para mobile */
@media (max-width: 768px) {
  /* Garantir que os botões ocupem 100% da largura */
  .botoes {
    display: flex;
    flex-direction: column;  /* Alinha os botões verticalmente */
    justify-content: left;
    align-items: left;  /* Centraliza os botões */
    width: 100%;
  }

  .botao {
    width: 90%;  /* Ajusta a largura para preencher a tela */
  }


}
