.certificacao-page {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    color: white;
}

.certificacao-intro {
    width: 100%;
    max-width: 1200px;
    padding-top: 8rem;
    text-align: left;
}

.titulo-certificacao {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #E7BC56;
}

.subtitulo-certificacao {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: white;
    letter-spacing: -1%;
    margin-top: 10px;
}

.resumo-certificacao {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1.5rem;
    line-height: 1.5;
}

/* Container da imagem para cobrir a tela toda */
/* Container da imagem para cobrir a tela toda */
.imagem-fullscreen {
    width: 100vw; /* Ocupa 100% da largura da tela */
    max-width: 98.8vw; /* Garante que nunca ultrapasse a largura da tela */
    height: auto; /* Mantém a proporção original */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Ajuste para a imagem cobrir a tela */
.imagem-fullscreen img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8%;
}


/* Seção de Três Colunas */
.certificacao-info {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    width: 100%;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
    text-align: left;
    width: auto; /* Ajusta a largura automaticamente ao conteúdo */
}

.titulo-coluna {
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #EDEDEF;
    margin-bottom: 1rem;
}

.item-coluna {
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: rgba(237, 237, 239, 0.5);
}

@media (max-width: 768px) {
    .certificacao-info {
        flex-direction: column; /* Empilha as colunas */
        align-items: center; /* Alinha os elementos ao centro */
        text-align: center; /* Centraliza o texto */
        gap: 2rem; /* Espaçamento entre as colunas */
    }

    .coluna {
        width: 100%; /* Cada coluna ocupa toda a largura disponível */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens da coluna */
        text-align: center; /* Garante que o texto fique centralizado */
    }


}

.certificacao-secoes {
    margin-top: 3rem;
    width: 100%;
}

.titulo-secao {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #E7BC56;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.resumo-secao {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #EDEDEF;
    margin-bottom: 2rem;
}

.subtitulo-secao {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #EDEDEF;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.descricao-secao {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
}

.imagem-secao {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 2rem;
    border-radius: 10px;
}



.imagem-figma {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

/* Estilização do Carrossel */
.carrossel-container {
    width: 100vw;
    max-width: 98.8vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-carrossel {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8%;
}

/* Botões de navegação */
.botao-carrossel {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.botao-carrossel img {
    width: 4rem;
    height: auto;
}

.botao-carrossel.esquerda {
    left: 23%;
}

.botao-carrossel.direita {
    right: 23%;
}
