/* Estilos gerais */
.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

/* Texto */
.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Foto */
.foto {
    flex: 1;
    display: flex;
    justify-content: center;
}

.foto img {
    max-width: 200px;
    border-radius: 50%;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem; /* Ajuste de padding no topo */
  }

  .apresentacao {
    margin-top: 3rem; /* Ajuste para telas pequenas */
    gap: 1.5rem; /* Menor espaçamento entre os elementos */
  }

  .texto {
    align-items: center;
    text-align: center;
    max-width: 90%;
  }

  .foto {
    width: 20rem;
    order: -1; /* Garante que a imagem venha primeiro */
  }

  .foto img {
    max-width: 80vw; /* Aumenta o tamanho da foto proporcionalmente */
    height: auto;
  }

  .botoes {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    order: 1;
  }

  h1 {
    font-size: 10%;
  }

}