/* TituloSessao/styles.css */

.titulo-sessao {

    background: linear-gradient(90deg, rgba(2, 13, 24, 0.9) 30%, rgba(6, 29, 53, 0.8) 50%, rgba(2, 13, 24, 0.9) 70%); /* Gradiente de fundo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    margin-top: 10rem;
}

.linha {
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #020D18 0%, #5B636A 50%, #020D18 100%); /* Gradiente da linha */
    margin-bottom: 2.5rem;
}

.texto-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.titulo {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #E7BC56;
    font-size: 1.5rem;
}

.subtitulo {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 2.25rem;
    color: var(--texto-branco);
}

/* Estiliza apenas emails */
.subtitulo.email {
    font-size: clamp(1rem, 6vw, 2.5rem); /* Ajusta dinamicamente o tamanho da fonte */
    white-space: nowrap; /* Impede a quebra de linha */
    text-align: center; /* Mantém o texto centralizado */
    max-width: 100%;
    overflow: hidden; /* Evita que o texto ultrapasse a tela */
}
