.contratar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contratar-texto {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
    color: rgba(237, 237, 239, 0.8); /* Branco desfocado */
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 2rem;
}

.contratar-estatisticas {
    display: flex;
    justify-content: space-between; /* Maximiza o espaço entre os itens */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 2rem;
}

.contratar-estatistica {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Permite que todos os itens cresçam igualmente */
    text-align: center;
}

.contratar-numero {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #EDEDEF;
}

.contratar-label {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(237, 237, 239, 0.8); /* Branco desfocado */
    margin-top: 10px;
}

.contratar-linha-vertical {
    width: 1px;
    background: linear-gradient(
        0deg, 
        #020D18 10%, 
        rgba(98, 102, 119, 1) 50%, 
        #020D18  90%
    );
    align-self: stretch; /* Faz com que a linha ocupe toda a altura da div pai */
    margin: 0 2rem; /* Espaçamento lateral entre estatísticas */
    display: flex;
}

@media (max-width: 768px) {
    .contratar-estatisticas {
        flex-direction: column; /* Empilha os itens no celular */
    }

    .contratar-linha-vertical {
        width: 0%;
        margin: 1rem;
    }
}
