/* Estilo padrão do menu desktop */
.nav-bar-desktop {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-bar-desktop ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-bar-desktop a {
    text-decoration: none;
    color: var(--texto-branco);
    font-size: 1.2rem;
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out; /* Adicionando transição para a cor */
}

.nav-bar-desktop a:hover {
    font-weight: 300;
}

.nav-bar-desktop a.active {
    font-weight: 700;
    font-size: 1.3rem;
    color: #FAFAFA; /* Cor desejada para o item ativo */
}

/* Ícone do menu no mobile */
.menu-icon {
    display: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* Estilos do menu lateral no mobile */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100vh;
    background: rgba(2, 13, 24, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
    right: 0;
}

/* Botão de fechar */
.close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.close-menu img {
    width: 24px;
    height: 24px;
}

/* Estilos para os links do menu mobile */
.nav-bar-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nav-bar-mobile a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: font-weight 0.2s ease-in-out, color 0.2s ease-in-out; /* Transição da cor no hover */
}

.nav-bar-mobile a:hover {
    font-weight: 300;
}

/* Link do LinkedIn dentro do menu mobile */
.menu-link img {
    width: 32px;
    height: 32px;
}

/* Estilo para os links desabilitados */
.nav-bar-desktop a.desabilitado,
.nav-bar-mobile a.desabilitado {
    color: var(--desfoque-branco); /* Cor para itens desabilitados */
    pointer-events: none; /* Desabilita a interação (cliques) */
    font-weight: normal; /* Mantém o peso normal da fonte */
}



/* Responsividade */
@media (max-width: 768px) {
    .nav-bar-desktop {
        display: none;
    }

    .menu-icon {
        display: block;
        margin-left: 1.25rem;
    }
}
